.wrapper {
  width: 24%;
  height: 273px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper div {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 43px;
}

.wrapper div:hover {
  cursor: pointer;
  background-color: #F1FCFF;
}

span {
  color: #4A4A4A;
}

input {
  width: 20px;
  height: 20px;
  border-color: #2196F3;
  margin: 0;
  margin-right: 10px;
}

.title {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 20px;
}