.tickets_wrapper {

}

.tabs {
  width: 100%;
  height: 50px;
  display: flex;
}

.tab {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
}

.tab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab:focus {
  outline: none;
  background-color: #2196F3;
  color: #fff;
}