body {
  background-color: #E5E5E5;
  padding-top: 50px;
}

.App {
  margin: auto;
  width: 960px;
  background-color: #F3F7FA;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 52.2%;
  margin-left: 2.1%;
}